.App {
  /*text-align: center;*/
  margin-left:5%;
  margin-top:2%;
}

.rTable
{
    display: table;
    width: 30%;
}
.rTableRow
{
    display: table-row;
}
.rTableCell
{
    width:80%;
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}